@model IEnumerable<DevSmash___Projeto_Final.Models.ViewModels.ServicoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCompleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconeFront)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemFront)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoView)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCompleta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconeFront)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagemFront)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoView)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdServico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdServico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdServico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
