@model IEnumerable<DevSmash___Projeto_Final.Models.Entidades.Integrante>

<body class="is-preload">
    <div id="page-wrapper">
        <section class="wrapper style1">
            <div class="container">
                <div id="content">
                    <article>
                        <header>
                            <h2>Conheça nosso time</h2>
                        </header>
                        <br />
                        @foreach (var integrante in Model)
                        {
                            <header>
                                <h2>@integrante.Nome</h2>
                                <p>@integrante.Funcao</p>
                            </header>
                            <span class="image featured"><img src="@integrante.Foto" alt="Integrante" /></span>

                            <h3>@integrante.RedeSocial</h3>

                            <p>@integrante.Sobre</p>

                        }
                    </article>
                </div>
            </div>
        </section>
    </div>
</body>

